.search-form {
  background: rgb(81, 2, 192);
  padding: 150px 100px;
  border-radius: 10px;
  height: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}
.search-form form {
  margin: 10px 0;
}
.search-form input {
  width: 50%;
}

.search-form input,
.search-form button {
  outline: none;
  padding: 14px;
  border-radius: 7px;
  border: none;
}

.search-form button {
  padding: 14px 40px;
  background: #6cc644;
  margin: 0 8px;
  color: #f5f5f5;
}
.search-results {
  background-color: #f5f5f5;
  padding: 10px 30px;
  margin: 20px 0;
  border-radius: 10px;
}
.user {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  align-items: center;
  padding: 0px 0px;
  border-bottom: #444 solid 1px;
}

.user .image {
  width: 20%;
}
.user .image img {
  width: 100%;
  border-radius: 10%;
}

.user-info * {
  display: block;
  padding: 0 10px;
}

/* Pagination */
.more-options {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.more-options select,
.pagination button {
  outline: none;
  padding: 5px;
  border-radius: 5px;
  border: none;
}
.pagination button {
  background-color: #333;
  color: #fff;
  margin: 0 5px;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.1rem 0.3rem;
  margin-left: 1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
.page-link.active {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.pagination a{
cursor: pointer;
}
.lds-spinner {
  color: white;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: rgb(51, 172, 39);
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}